<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wms.mapper.ShipmentOrderMapper">

    <resultMap type="com.ruoyi.wms.domain.entity.ShipmentOrder" id="ShipmentOrderResult">
        <result property="id"                   column="id"                     />
        <result property="shipmentOrderNo"      column="shipment_order_no"      />
        <result property="shipmentOrderType"    column="shipment_order_type"    />
        <result property="orderNo"              column="order_no"               />
        <result property="merchantId"           column="merchant_id"            />
        <result property="receivableAmount"     column="receivable_amount"      />
        <result property="totalQuantity"        column="total_quantity"         />
        <result property="shipmentOrderStatus"  column="shipment_order_status"  />
        <result property="warehouseId"          column="warehouse_id"           />
        <result property="areaId"               column="area_id"                />
        <result property="createTime"           column="create_time"            />
        <result property="createBy"             column="create_by"              />
        <result property="updateTime"           column="update_time"            />
        <result property="updateBy"             column="update_by"              />
        <result property="remark"               column="remark"                 />
    </resultMap>

</mapper>
